# This is a test comment
services:
  postgres:
    image: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: hapkido
      POSTGRES_PASSWORD: hapkido
      POSTGRES_DB: hapkido
    ports:
      - 5432:5432

volumes:
  pgdata: